Builds/*/build
Builds/MacOSX/*.xcodeproj/xcuserdata
Builds/MacOSX/receivemidi.xcodeproj/project.xcworkspace/xcuserdata
/Builds/VisualStudio2015/Release
/Builds/VisualStudio2015/receivemidi.VC.db
/Builds/VisualStudio2015/receivemidi.VC.VC.opendb
