Builds/*/build
Builds/MacOSX/*.xcodeproj/xcuserdata
Builds/MacOSX/receivemidi.xcodeproj/project.xcworkspace/xcuserdata
/.vs
/Builds/VisualStudio2017/.vs
/Builds/VisualStudio2017/x64
/Builds/VisualStudio2017/receivemidi_ConsoleApp.vcxproj.user
Installers
